body {
  margin: 0;
  background-color: red;
}

.start-container {
  display: flex;
  flex-direction: row;
  width: 1160px;
  height: 456px;
  justify-content: space-between;
  margin-top: 180px;
  margin-left: 220px;
  gap: 64px;
  flex-flow: Horizontal;
}




.welclass {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  color: #313E51;
  width: 440px;
  height: 64px;
  font-size: 65px;
}

.welclass2 {
  font-weight: 700;
  color: #313E51;
  width: 440px;
  height: 64px;
  font-size: 65px;

}
.options {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 564px;
  height: 456px;
  flex-flow: Vertical;
}

.welcomeDiv {
  width: 465px;
  height: 214px;
  gap: 48px;
  flex-flow: Vertical;
}

.secendWelD {
  width: 453px;
  height: 136px;
}

.welcomeDiv h1 {
  margin: 5px 0;
}
.welcomeDiv p {
  color: #626C7F;
}
.options button {
  display: flex;
  background: white;
  width: 500px;
  border: none;
  border-radius: 12px;
  padding: 16px 20px;
  font-size: 18px;
  gap: 20px;
  transition: transform 0.2s;
}
.options button:hover {
    transform:  scale(1.02);
}


#Html {
    background-color: rgba(255, 165, 0, 0.3); 
    color: orange; 
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Css {
    background-color: rgba(38, 215, 130, 0.3); 
    color: #26D782;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Js {
    background-color: rgba(27, 157, 212, 0.3); 
    color: #1b9dd4;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Acc {
    background-color: rgba(167, 41, 245, 0.3);
    color: #A729F5;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1024px) {
  .start-container {
    flex-direction: column; 
    width: 640px;  
    height: auto;  
    margin-top: 145px;
    margin-left: 64px;
    gap: 64px;
  }

  .options {
    width: 100%; 
    height: auto;
  }

  .options button {
    width: 100%;
  }

  .welcomeDiv {
    width: 100%;
    height: auto;
  }

  .secendWelD {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .start-container {
    display: flex;
    flex-direction: column;  
    width: 100%;             
    max-width: 375px;        
    height: 740px;          
    padding: 32px 24px 0 24px;
    gap: 40px;              
    margin: 0 auto;          
  }

  .welcomeDiv {
    width: 100%;
    height: auto;
  }

.options {
  display: flex;
  gap: 12px;
  width: 100%;
  max-width: 327px; 
  margin: 0 auto 300px;  /* container შუაში */
}
.options button {
  width: 100%; /* 100% მშობელიდან */
}
.welclass {
  font-size: 40px;
  height: 40px;
}
.welclass2 {
  font-size: 40px;
}
.secendWelD {
  width: 327px;
  height: 125px;
}
p {
  width: 327px;
  height: 21px;
  margin-bottom: 5px;
  margin-top: 1px;
}


}
