:root {
    --background-color: #F4F6FA;
    --text-color: #313E51;
    --text-color-grey: #626C7F;
    --background-circle-border-color: #EDF1F9;
    --purple: #A729F5;
    --bg-color-html: #FFF1E9;
    --bg-color-css: #E0FDEF;
    --bg-color-js: #EBF0FF;
    --bg-color-Accessibility: #F6E7FF;
    --correct-answer-color: #26D782;
    --incorrect-answer-color: #EE5454;
}

* {
    padding: 0;
    margin: 0;
}